@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Glittery;
  src: url('./assets/fonts/GlitterySnowfall.ttf');
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  /* font-family: 'Mako', sans-serif; */
  font-family: Glittery, sans-serif;
}

a {
  font-size: 1.2rem;
}

p {
  font-family: 'Knor';
}

.container {
  /* position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;  */
  height: 100vh;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  animation: drop linear infinite;
  opacity: 0.5;
}

@keyframes drop {
  0% {
    top: -5px;
  }
  100% {
    top: 100vh;
  }
}
